<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lion1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{151,123}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{151,123}}</string>
                <key>sourceSize</key>
                <string>{187,141}</string>
            </dict>
            <key>lion10.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,258},{153,125}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{153,125}}</string>
                <key>sourceSize</key>
                <string>{187,141}</string>
            </dict>
            <key>lion11.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,131},{155,125}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{155,125}}</string>
                <key>sourceSize</key>
                <string>{187,141}</string>
            </dict>
            <key>lion12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{153,125}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{153,125}}</string>
                <key>sourceSize</key>
                <string>{187,141}</string>
            </dict>
            <key>lion2.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,133},{153,125}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{153,125}}</string>
                <key>sourceSize</key>
                <string>{187,141}</string>
            </dict>
            <key>lion3.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,391},{143,125}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{143,125}}</string>
                <key>sourceSize</key>
                <string>{187,141}</string>
            </dict>
            <key>lion4.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{157,127}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{157,127}}</string>
                <key>sourceSize</key>
                <string>{187,141}</string>
            </dict>
            <key>lion5.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,260},{151,129}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{151,129}}</string>
                <key>sourceSize</key>
                <string>{187,141}</string>
            </dict>
            <key>lion6.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{159,129}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{159,129}}</string>
                <key>sourceSize</key>
                <string>{187,141}</string>
            </dict>
            <key>lion7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,131}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{159,131}}</string>
                <key>sourceSize</key>
                <string>{187,141}</string>
            </dict>
            <key>lion8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{149,129}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{149,129}}</string>
                <key>sourceSize</key>
                <string>{187,141}</string>
            </dict>
            <key>lion9.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,385},{145,125}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{145,125}}</string>
                <key>sourceSize</key>
                <string>{187,141}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lion.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4aea2e9ccc53db4635c95790dfbc1041:1/1$</string>
            <key>textureFileName</key>
            <string>lion.png</string>
        </dict>
    </dict>
</plist>
